@import url("https://fonts.googleapis.com/css?family=Prata:400,500,700");

html, body{
	height: 100%;
	width: 100%;
	font-family: "Prata";
}


footer{
	background-color: #000
	
}

.navbar{
	padding: 6px;
	color: #fff;
}
.navbar-nav li{
	padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
	color: #fff;
}
.navbar-logo{
	border-radius: 50%;
}
.nav-link{
	font-size: 20px !important;
}

p.display-3{
	letter-spacing:15px;
}

/*HOME PAGE*/
.aboutLeader{
	padding-top: 40px;
	padding-left: 40px;
}

.rmbutton{
	padding-top: 30px;
}

.kitchenLeader figure{
	padding-top: 30px;
}

.mycontact{
	position: center;
	padding-top: 40px;
	background-color: black;
	color: white;
}

.social a{
	padding: 40px;
}

/*ABOUT PAGE*/
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
	color: red;
}

.right {
    right: 0;
    background-color: #C70500;
	color: #000;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 350px;
    border-radius: 50%;
}

/*KITCHEN PAGE*/
.kitchencontent{
	position: center;
	padding-top: 50px;
}

.kitchentitle{
	padding-top: 50px;
}

/*SIGN UP PAGE*/
.myform {
	padding-top: 40px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}