<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HanaDior</title>
	<style>h1 {border-style: solid; background-color: black}</style>
</head>

<body background = "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40993296_534751646977154_2644540028482486272_o.jpg?_nc_cat=0&oh=5200fc99db7af462c6928f284f7f7045&oe=5C329D5E">
	<h1 style="text-align:center; color:white">BONJOUR!</h1>
	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40943272_534751656977153_1712311037513957376_n.jpg?_nc_cat=0&oh=0c46968fad9ff8d190c2d332b4628bcc&oe=5C36D815" 
			alt="fotoku" class="center" width="100" height="100">
	<h2 style="text-align:center; color:white">A Little Description</h2>
		<p style="text-align:center; color:white">	Name	: {{ name }}<br>
			NPM		: {{ npm }}<br>
			Hobby	: Gardening, Cooking<br>
			College	: University of Indonesia<br>
			I am {{ age }} years old.
		</p>
	<h2 style="text-align:center; color:white">A Little Insight of Me</h2>
		<p style="text-align:center; color:white"> I live in a little town named Bogor and currently a student majoring in Information System.<br>
		</p>
		

	<h1 style="text-align:center; color:white">HELLO!</h1>
	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40971509_2064343970283597_8235675579072905216_o.jpg?_nc_cat=0&oh=2640c0e694aede093ed004b2181c11a8&oe=5BF89329" 
			alt="foto memes" class="center" width="100" height="100">
	<h2 style="text-align:center; color:white">A Little Description</h2>
		<p style="text-align:center; color:white">	Name	: Meiska Kurniawati<br>
			NPM		: 1706043355<br>
			Hobby	: Doing skin care<br>
			College	: University of Indonesia<br>
			I am 19 years old.
		</p>
	<h2 style="text-align:center; color:white">A Little Insight of Meiska</h2>
		<p style="text-align:center; color:white"> A friend of mine in college and majoring in Information System. Meiska wants to be K-Pop Star.<br>
		</p>
	
	
	<h1 style="text-align:center; color:white;";>HALO!</h1>
	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/33147992_1508943735899972_6159831298375417856_n.jpg?_nc_cat=0&oh=02dfe8b93f4e287cac71839989a88f98&oe=5C315A9A" 
			alt="foto chika" class="center" width="100" height="100">	
	<h2 style="text-align:center; color:white">A Little Description</h2>
		<p style="text-align:center; color:white">	Name	: Graciela Chika Putri<br>
			NPM		: 1706103436<br>
			Hobby	: Fishing anger (memancing kemarahan)<br>
			College	: University of Indonesia<br>
			I am 19 years old.
		</p>
	<h2 style="text-align:center; color:white">A Little Insight of Chika</h2>
		<p style="text-align:center; color:white">Chika is a friend of mine in college and majoring in Computer Science. Chika wants to be Indonesian Idol<br>
		</p>

</body>

<style>
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
	height: 20%}
</style>
</html>
