{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LittleWorld</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href={% static "MyApp/style.css" %}>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-logo rounded-circle" href=".."><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42743592_544158646036454_4740123858613305344_n.jpg?_nc_cat=107&oh=3b780162c89fed8b3b958cace2384b5d&oe=5C235A52" style="display : inline-block" width="80" height="80"></a>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		{% block content %}{% endblock %}
	</div>
	{% include 'navbar.html'%}
</div>
</nav>

<!-- Content -->
<div class="split left">
  <div class="centered">
    <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42635985_544158369369815_1603846130989268992_n.jpg?_nc_cat=108&oh=c4256a34b01cc37483d4571b61e4ac31&oe=5C226924" alt="photo of hana">
    <h2>Dramatic.<br>Traumatic.<br>Sarcastic.</h2>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h2>As the years go by ...</h2>
    <p>
		'99 : Was born in Bogor<br>
		'05 : Entered SD Kesatuan Bogor<br>
		'11 : Entered SMPN 2 Bogor<br>
		'14 : Entered SMAN 1 Bogor<br>
		'17 : Entered University of Indonesia<br>
		'18 : Became Asian Games Volunteer
	</p>
	<h2>A little insight about me ...</h2>
	<p>
		My hometown is in Bogor<br>
		My passion are cooking and gardening.<br> 
		On this page I will be sharing with you<br>
		Secret Recipe (on Kitchen section)<br>
		I hope you can get to know me better!
	</p>
  </div>
</div>

</body>
</html>