{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LittleWorld</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href={% static "MyApp/style.css" %}>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-logo rounded-circle" href=".."><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42743592_544158646036454_4740123858613305344_n.jpg?_nc_cat=107&oh=3b780162c89fed8b3b958cace2384b5d&oe=5C235A52" style="display : inline-block" width="80" height="80"></a>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		{% block content %}{% endblock %}
	</div>
	{% include 'navbar.html'%}
</div>
</nav>

<!-- Carousel -->
<div class="container-fluid">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- Images -->
		<div class="carousel-inner">
			<div class="carousel-caption">
					<p class="display-3">HANA DIOR</p>
					<h5 class="display-6">A Bored & Lazy Student</h5>
			</div>
			<div class="carousel-item active">
				<img class="d-block w-100" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42708177_544158452703140_1538090851702407168_o.jpg?_nc_cat=104&oh=93ace7431c0659bea5ed8b1d7f3301cc&oe=5C5EDB8B" alt="First Slide" >
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42711088_544158479369804_1340322992294461440_o.jpg?_nc_cat=105&oh=2bcff22f8140ca8a1ad78480b3bd9801&oe=5C179EB4" alt="Second Slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42596409_544158549369797_6866573484101730304_o.jpg?_nc_cat=104&oh=7f988ec4950cd35ed822de7d5050ee87&oe=5C2825E0" alt="Third Slide">
			</div>
		</div>
	</div>
</div>

<!-- leading to About Page -->
<div class="container-fluid padding">
	<div class="aboutLeader">
		<div class="col-lg-6">
			<h3>Hey! My name is Hana Dior.<br>Currently an Information System student.<br>Here to express the very of me.</h3>
		</div>
		<div class="rmbutton">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
				<a href="about.html">
					<button type="button" class="btn btn-outline-secondary btn-md">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>

<hr class="separator">
<!-- leading to Kitchen Page-->
<div class="container-fluid padding">
	<div class="kitchenLeader text-center">
		<div class="col-12">
			<h2>Check out my latest Secret Recipe updates!</h2>
			<figure>
				<a href="{% url 'MyApp:kitchen' %}">
					<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42628001_544158409369811_8615032856164433920_o.jpg?_nc_cat=105&oh=553e9bb461ab81cf4a35fe2a05a9dd24&oe=5C278290" alt="pastry" class="d-block w-100"> 
				</a>
			</figure>
		</div>
	</div>
</div>
</body>

<footer>
	<div class="container-fluid padding bg-light">
		<div class="mycontact">
			<div class="row text-center padding" id="contact">
				<div class="col-12">
					<h2>Get in Touch with Me</h2>
				</div>
				<div class="col-12 social padding">
					<a href="https://www.whatsapp.com/"><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42614791_544158589369793_2470087764113096704_n.jpg?_nc_cat=104&oh=a2312ac5a2fb23c30b58c7a6071e690f&oe=5C58CB48" width="80" height="80"></a>
					<a href="https://www.gmail.com/"><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42604156_544158349369817_5791070341258280960_n.jpg?_nc_cat=108&oh=940aa8eb2c6956374d0ad60c74b026e8&oe=5C6085E8" width="80" height="80"></i></a>
					<a href="https://www.twitter.com/hanaadior"><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42631216_544158526036466_4691579350800138240_n.jpg?_nc_cat=101&oh=2ee9d51dc29243716bea5609e999b1c1&oe=5C18C584" width="80" height="80"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
</html>
