{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LittleWorld</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href={% static "MyApp/style.css" %}>
	
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-logo rounded-circle" href=".."><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42743592_544158646036454_4740123858613305344_n.jpg?_nc_cat=107&oh=3b780162c89fed8b3b958cace2384b5d&oe=5C235A52" style="display : inline-block" width="80" height="80"></a>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		{% block content %}{% endblock %}
	</div>
	{% include 'navbar.html'%}
</div>
</nav>

<!-- Content -->
<div class="container-fluid">
	<div class="col-12">
		<figure>
			<a href="#">
				<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42628001_544158409369811_8615032856164433920_o.jpg?_nc_cat=105&oh=553e9bb461ab81cf4a35fe2a05a9dd24&oe=5C278290" alt="pastry" class="d-block w-100"> 
			</a>
		</figure>
	</div>
	<div class="recipetitle col-12 text-center">
		<div class="kitchentitle">
			<h2>Secret Recipe #1</h2>
			<h2 class="display-4">SMOKED BEEF PASTRY</h2>
		</div>
		<div class="kitchencontent">
			<h4>Secret Details</h4>
			<p>
				- Pastry sheet<br>
				- Smoked beef (can be alternated<br>with chicken or saussage)<br>
				- Bolognese sauce<br>
				- Onion<br>
				- Mozarella<br>
			</p>
			<h4>What To Do</h4>
			<p>
				1. Cut the pastry into square pieces<br>
				2. Put smoked beef, onion, and mozarella inside<br>
				3. Pour bolognese sauce on top<br>
				4. Fold the pastry sheet into triangle shape<br>
				5. Put inside oven of 190°C for 30 minutes.<br>
				6. Serve the pastry<br>
			</p>
			<h4>What I LOVE About This</h4>
			<p>
				I pick this as my very first shared<br>
				Secret Recipe is because this was<br>
				the very first food that I ever made.<br>
				Completed with love, the mozarella will melt<br> 
				inside your mouth from the very first bite<br> 
				combined with special taste of<br>
				Italian Bolognese sauce.<br>
				This is perfect for your go-to food<br> 
				as it is quick to make and delicious!
			</p>
		</div>
	</div>
</div>


</body>
</html>