{% load static %}
{% block content %}

<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'MyApp:index' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'MyApp:about' %}">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'MyApp:kitchen' %}">Kitchen</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="..#contact">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'MyApp:signup' %}">Sign Up</a>
			</li>
</ul>
{% endblock %}
