{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LittleWorld</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href={% static "MyApp/style.css" %}>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-logo rounded-circle" href=".."><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42743592_544158646036454_4740123858613305344_n.jpg?_nc_cat=107&oh=3b780162c89fed8b3b958cace2384b5d&oe=5C235A52" style="display : inline-block" width="80" height="80"></a>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		{% block content %}{% endblock %}
	</div>
	{% include 'navbar.html'%}
</div>
</nav>

<!-- Form Result-->
<div style="margin: 5% 5%">
	<h3>Your Schedule List</h3>
	<div style = "width: 80%">
		<table class="table" border="#0000" style="width: 100%">
			<tr background-color="#ffff">
				<th style="width: 30%">Activity</th>
				<th style="width: 15%">Category</th>
				<th style="width: 15%">Place</th>
				<th style="width: 10%">Day</th>
				<th style="width: 20%">Date</th>
				<th style="width: 10%">Hour</th>
			</tr>
			{%for e in form_result%}
			<tr background-color=#ffff>
				<td>{{e.activity}}</td>
				<td>{{e.category}}</td>
				<td>{{e.place}}</td>
				<td>{{e.day}}</td>
				<td>{{e.date}}</td>
				<td>{{e.hour}}</td>
			</tr>
			{%endfor%}
		</table>
		<a href="{% url 'MyApp:schedule_delete' %}">DELETE ALL</a>
	</div>
</div>
</body>
</html>