{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LittleWorld</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href={% static "MyApp/style.css" %}>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-logo rounded-circle" href=".."><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42743592_544158646036454_4740123858613305344_n.jpg?_nc_cat=107&oh=3b780162c89fed8b3b958cace2384b5d&oe=5C235A52" style="display : inline-block" width="80" height="80"></a>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		{% block content %}{% endblock %}
	</div>
	{% include 'navbar.html'%}
</div>
</nav>

<div class="container">
	<div class="myform">	
		<h3>Create a new account</h3>
		<form action="/action_page.php" data-toggle="validator" role="form" >
			<div class="form-group">
				<label for="name">Full Name:</label>
				<input type="text" class="form-control" id="name" placeholder="Enter your full name here" name="name">
			</div>
			
			<div class="form-group">
				<label for="dob">Date of Birth:</label>
				<input type="date" class="form-control" id="dob" placeholder="yyyy/mm/dd" name="dob">
			</div>
			
			<div class="form-group">
				<label for="email">E-mail:</label>
				<input type="email" class="form-control" id="email" placeholder="Enter your e-mail address here" name="name">
			</div>
			
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" class="form-control" id="username" placeholder="Enter your desired username here" name="username">
			</div>
			
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" data-minlength="6" id="password" placeholder="Enter your desired password here" name="password">
			</div>
			
			<div class="form-group">
				<label for="passwordv">Password Validation:</label>
				<input type="password" class="form-control" id="passwordv" placeholder="Re-enter your desired password here" name="name">
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" value="">Remember Me</label>
			</div>
			
			<button type="button" class="btn btn-default">Submit!</button>
			
		</form>	
	</div>
</div>

</body>
</html>